@charset "UTF-8";
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url(fonts/Montserrat-ExtraLight.ttf);
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, lengend, input, textarea, p, blockquote, th, td, hr, button {
    margin: 0;
    padding: 0;
}
header, input, section, div, textarea, footer {
    box-sizing: border-box;
}
html,
body {
    min-width: 1300px;
    font-family: "Montserrat-ExtraLight", sans-serif;
    color: #202020;
}
button,
input,
textarea {
    font-family: inherit;
    color: inherit;
}
ul {
    list-style: none;
}
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 400;
}
.container {
    width: 970px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
/* header */
header {
    width: 100%;
    height: 990px;
    padding-top: 190px;
    text-align: center;
    background-color: #616161;
    background: linear-gradient(rgba(20, 20, 20, .65), rgba(20, 20, 20, .65)),
                url(images/banner.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
}
h1 {
    font-size: 62px;
    font-weight: 400;
    line-height: 1.26;
}
header > p {
    width: 770px;
    margin: 70px auto 0 auto;
    font-size: 20px;
    line-height: 1.6;
    opacity: .7;
}
.account {
    width: 970px;
    height: 250px;
    margin: 98px auto 0 auto;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 2px;
}
.account h3 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 55px;
}
.account p {
    margin: 10px 0 42px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .3;
}
.account input {
    width: 292px;
    height: 50px;
    margin-right: 30px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, .2);
    font-size: 14px;
    background: transparent;
}
.account input:last-of-type {
    width: 125px;
    margin-right: 0;
    padding-left: 0;
    border-radius: 2px;
    font-size: 12px;
    background: #fff;
    color: #202020;
}
/* intro */
.intro {
    width: 100%;
    height: 710px;
    padding-top: 85px;
}
.intro > h3 {
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
}
.intro h2 {
    width: 692px;
    margin: 28px auto 80px auto;
    text-align: center;
}
.items-wrapper {
    width: 1030px;   
}
.item {
    width: 450px;
    height: 166px;
    padding-left: 75px;
}
.item h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.item p {
    font-size: 16px;
    line-height: 1.6;
    opacity: .7;
}
.intro div:nth-of-type(1) {
    background: url(images/iphone-icon.png) no-repeat 0 2px;
}
.intro div:nth-of-type(2) {
    background: url(images/check-icon.png) no-repeat 0 2px;
}
.intro div:nth-of-type(3) {
    background: url(images/pencil-icon.png) no-repeat 0 2px;
}
.intro div:nth-of-type(4) {
    background: url(images/settings-icon.png) no-repeat 0 2px;
}
/* policy */
.policy {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #616161;
    background: linear-gradient(rgba(20, 20, 20, .65), rgba(20, 20, 20, .65)),
                url(images/background-2.png) no-repeat center center;
    background-size: 100% 100%;
    color: #fff;
}
.content {
    margin-left: 10%;
}
.content h2 {
    width: 384px;
}
.content p {
    width: 384px;
    margin: 38px 0 53px 0;
    font-size: 18px;
    line-height: 1.55;
    opacity: .7;
}
.content button {
    width: 240px;
    height: 60px;
    margin-right: 30px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 4px;
    background: #fff; 
    color: #202020;
}
.content button:last-of-type {
    margin-right: 0;
    background: transparent;
    color: #fff;
}
.ipad {
    position: absolute;
    right: 0;
    width: 645px;
    height: 600px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 30px 0 0 30px;
    background: url(images/screen.png) no-repeat 60px center;
}
.ipad::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
}
/* products */
.products {
    width: 100%;
    height: 580px;
    padding-top: 94px;
    text-align: center;
    border-bottom: 1px solid rgba(20, 20, 20, .1);
}
.products .container {
    margin-top: 80px;
}
.product-item {
    width: 268px;
    font-size: 16px;
    color: rgba(20, 20, 20, .7);
    line-height: 1.6;
}
.product-item img {
    margin-bottom: 28px;
}
/* proposal */
.proposal {
    width: 100%;
    height: 1000px;
    padding-top: 114px;
    border-bottom: 1px solid rgba(20, 20, 20, .1);
}
.proposal img + div {
    width: 318px;
}
.proposal h3 {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 1.6;
}
.proposal p {
    font-size: 16px;
    line-height: 1.75;
    opacity: .7;
}
.proposal > div:first-of-type {
    margin-bottom: 80px;
}
img[src*="bird"] {
    order: 1;
}
/* team */
.team {
    width: 100%;
    height: 1084px;
    padding-top: 94px;
    border-bottom: 1px solid rgba(20, 20, 20, .1);
    text-align: center;
}
.team p {
    width: 700px;
    margin: 25px auto 28px auto;
    font-size: 18px;
    line-height: 1.5;
    opacity: .7;
}
.crew {
    position: relative;
    width: 470px;
    height: 340px;
    margin-top: 30px;
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: rgba(20, 20, 20, .65);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    color: #fff;
    opacity: 0;
}
.caption:hover {
    opacity: 1;
    transition: opacity 250ms ease-out;
    cursor: url(images/hand-icon.png), pointer;
}
.caption h3 {
    font-size: 20px;
    line-height: 1.6;
}
.caption span {
    margin: 3px 0 30px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.3;
    opacity: .4;
}
.caption li {
    display: inline-block;
    width: 49px;
    height: 52px;
    margin: 0 12.5px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
}
.caption li:nth-of-type(1) {
    background: url(images/facebook-icon.png) no-repeat 50% 50%;
}
.caption li:nth-of-type(2) {
    background: url(images/twitter-icon.png) no-repeat 50% 50%;
}
.caption li:nth-of-type(3) {
    background: url(images/instagram-icon.png) no-repeat 50% 50%;
}
/* social */
.social {
    height: 700px;
    font-size: 16px;
    line-height: 1.6;
}
.write {
    width: 470px;
    height: 560px;
    border: 1px solid rgba(20, 20, 20, .1);
    border-radius: 10px;
    text-align: center;
}
.write h3 {
    font-size: 16px;
    margin: 43px 0 39px 0; 
    letter-spacing: 2px;
}
.write input,
.write textarea {
    width: 370px;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 22px;
    border: 1px solid rgba(38, 35, 33, .2);
    border-radius: 2px;
    font-size: 14px;
    opacity: .5;
}
.write textarea {
    height: 144px;
    margin-bottom: 23px;
    line-height: 52px;
    resize: none;
}
.write input[type="submit"] {
    font-size: 12px;
    background: #202020;
    color: #fff;
    opacity: 1;
}
.contacts {
    width: 356px;
}
.contacts p {
    margin: 22px 0 60px 0;
    opacity: .7;
}
.contacts li {
    width: 264px;
    margin-bottom: 27px;
    padding-left: 37px;
    font-weight: 700;
}
.contacts li:nth-of-type(1) {
    background: url(images/map-icon.png) no-repeat 0 50%;
}
.contacts li:nth-of-type(2) {
    background: url(images/phone-icon.png) no-repeat;
}
.contacts li:nth-of-type(3) {
    background: url(images/mail-icon.png) no-repeat;
}
/* footer */
footer {
    width: 100%;
    height: 410px;
    padding-top: 84px;
    background: #202020;
    color: #fff;
}
footer .container {
    width: 1170px;
}
footer h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 29px;
}
footer li {
    font-size: 16px;
    margin-bottom: 26px;
    opacity: .3;
}
footer p {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.5;
    opacity: .4;
}
footer .socials {
    width: 270px;
    align-self: flex-start;
}
footer .socials h3 {
    margin-bottom: 20px;
}
footer .socials li {
    float: left;
    margin-right: 26px;
}
footer .socials li:last-of-type {
    margin-right: 0;
}